rancher2_access_key="token-xxxxxx" # the Rancher API access key for the API url below
rancher2_secret_key="bfc77l5sfgxxxxxxxxxxxx" # the Rancher API secret key for the API url below
rancher2_api_url="https://rancher.companyname.com/v3" # the Rancher2 API url for the Rancher instance you want to create the cluster resource in
cluster_name="utilities-dev" # the name of the Kubernetes cluster
cluster_description="cluster that serves utilties for dev environment" # a description of the Kubernetes cluster
gke_region="us-west2" # the Google Cloud region to deploy resources in
gke_project_id="company-google-project" # the project ID to deploy resources in
master_cidr="10.1.1.0/28" # master cidr range
cluster_cidr="10.4.0.0/16" # cluster cidr range 
gke_kubernetes_version="1.13.7-gke.8" # kubernetes version in gke
gke_node_size="n1-standard-2" # instance sizing for nodes in pool 
gke_disk_size="50" # disk size in GB for nodes
gke_disk_type="pd-standard" # pde-standard or pde-ssd if more performance needed
gke_network_name="utilities-network"
gke_subnetwork_name="utilities-sub-network"
desired_node_count="3" # the desired number of nodes for the node pool created
min_node_count="3" # the minimum amount of nodes acceptable in the autoscaling group
max_node_count="12" # the maximum amount of nodes acceptable in the autoscaling group