rancher2_access_key="token-999999"
rancher2_secret_key="skfjsfkjs23942394jsdjfksjf32923jksjdf""
rancher2_api_url="https://rancher.yourcompany.com/v3"
cluster_name="utilities"
cluster_description="cluster for utilities"
aws_region="us-west-2"
aws_profile="my_local_aws_profile"
aws_access_key="239429423423422342" # AWS access key (service account for rancher to use to provisioner clusters)
aws_secret_key="Zb2W/0s0ser0s0rs0rsrks0kr" # AWS secret key" (service account for rancher to use to provisioner clusters)
vpc_cidr="10.0.0.0/16" # VPC cidr for cluster VPC
vpc_id="vpc-OMG1231239139" # VPC id to run cluster in 
eks_kubernetes_version="1.13" # kubernetes version in eks 
aws_instance_type="t3.large" # instance sizing for nodes in pool 
eks_node_volume_size="50" # disk size in GB for nodes
eks_min_nodes="3" # the minimum amount of nodes acceptable in the autoscaling group
eks_max_nodes="12" # the maximum amount of nodes acceptable in the autoscaling group
eks_subnet1="subnet-099874324234827342"
eks_subnet2="subnet-02340230423042340234"
eks_subnet3="subnet-00234024932942394239"
owner_tag="devteam"
