rancher2_access_key="token-ff9999"
rancher2_secret_key="ffffff9999999999999999999"
rancher2_api_url="https://rancher.companyname.com/v3"
cluster_name="utilities"
cluster_description="cluster for utilities"
aws_region="us-west-2"
aws_profile="default"
aws_access_key="XVXCVXVXVVX"
aws_secret_key"XVCXFSDFLSDKFLSKFS"
control_plane_instance_type="m5.large"
node_count="3"
owner_tag="devteam"
vpc_cidr="10.0.0.1/16"
vpc_id=vpc-130b9324j"
ssh_username="ubuntu"
